@page "/admin/novy-stroj/smykom-riadene-nakladace/{ExcavatorBrand}"

@inject IServISApi api

<h3>Šmykom riadené nakladače- vytvorenie nového záznamu</h3>

<ExcavatorForm ExcavatorCategory=SkidSteerLoader
			   Excavator=@SkidSteerLoader
			   SaveExcavatorAsync=@(async (skidSteerLoader) => await api.SaveSkidSteerLoaderAsync(skidSteerLoader))
			   LinkToGoAfterValidSubmit=@($"/smykom-riadene-nakladace-{ExcavatorBrand.ToLower()}") >
	<ExcavatorSpecificInfoFields>
		<tr>
			<td>Výška (mm)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.HeightMm" />
				<ValidationMessage For="@(() => SkidSteerLoader.HeightMm)" />
			</td>
		</tr>

		<tr>
			<td>Dĺžka s lopatou (mm)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.LengthWithBucketMm" />
				<ValidationMessage For="@(() => SkidSteerLoader.LengthWithBucketMm)" />
			</td>
		</tr>

		<tr>
			<td>Šírka s lopatou (mm)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.WidthWithBucketMm" />
				<ValidationMessage For="@(() => SkidSteerLoader.WidthWithBucketMm)" />
			</td>
		</tr>

		<tr>
			<td>Hmotnosť (kg)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.WeightKg" />
				<ValidationMessage For="@(() => SkidSteerLoader.WeightKg)" />
			</td>
		</tr>

		<tr>
			<td>Nominálna nosnosť (kg)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.NominalLoadCapacityKg" />
				<ValidationMessage For="@(() => SkidSteerLoader.NominalLoadCapacityKg)" />
			</td>
		</tr>

		<tr>
			<td>Bod preťaženia (kg)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.OverloadPointKg" />
				<ValidationMessage For="@(() => SkidSteerLoader.OverloadPointKg)" />
			</td>
		</tr>

		<tr>
			<td>Maximálna rýchlosť (km/h)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.TopSpeedKmh" />
				<ValidationMessage For="@(() => SkidSteerLoader.TopSpeedKmh)" />
			</td>
		</tr>

		<tr>
			<td>Maximálna rýchlosť- verzia SPEED, dolná hranica (km/h)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.TopSpeedKmhSpeedVersionMin" />
				<ValidationMessage For="@(() => SkidSteerLoader.TopSpeedKmhSpeedVersionMin)" />
			</td>
		</tr>

		<tr>
			<td>Maximálna rýchlosť- verzia SPEED, horná hranica (km/h)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.TopSpeedKmhSpeedVersionMax" />
				<ValidationMessage For="@(() => SkidSteerLoader.TopSpeedKmhSpeedVersionMax)" />
			</td>
		</tr>

		<tr>
			<td>Navŕšený objem lopaty (m3)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.IncreasedBucketVolumeM3" />
				<ValidationMessage For="@(() => SkidSteerLoader.IncreasedBucketVolumeM3)" />
			</td>
		</tr>

		<tr>
			<td>Trhacia sila (kN)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.TearingStrengthKn" />
				<ValidationMessage For="@(() => SkidSteerLoader.TearingStrengthKn)" />
			</td>
		</tr>

		<tr>
			<td>Ťažná sila (kN)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.TractionForceKn" />
				<ValidationMessage For="@(() => SkidSteerLoader.TractionForceKn)" />
			</td>
		</tr>

		<tr>
			<td>Ťažná sila- verzia SPEED (kN)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.TractionForceKnSpeedVersion" />
				<ValidationMessage For="@(() => SkidSteerLoader.TractionForceKnSpeedVersion)" />
			</td>
		</tr>

		<tr>
			<td>Zdvíhacia sila (kN)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.LiftingForceKn" />
				<ValidationMessage For="@(() => SkidSteerLoader.LiftingForceKn)" />
			</td>
		</tr>

		<tr>
			<td>Dosah (mm)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.ReachMm" />
				<ValidationMessage For="@(() => SkidSteerLoader.ReachMm)" />
			</td>
		</tr>

		<tr>
			<td>Maximálna vysýpacia výška (mm)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.MaximumDischargeHeightMm" />
				<ValidationMessage For="@(() => SkidSteerLoader.MaximumDischargeHeightMm)" />
			</td>
		</tr>

		<tr>
			<td>Typ motora</td>
			<td>
				<InputText @bind-Value="@SkidSteerLoader.EngineType" />
				<ValidationMessage For="@(() => SkidSteerLoader.EngineType)" />
			</td>
		</tr>

		<tr>
			<td>Menovitý výkon (kW)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.RatedPowerKw" />
				<ValidationMessage For="@(() => SkidSteerLoader.RatedPowerKw)" />
			</td>
		</tr>

		<tr>
			<td>Druh pohonu</td>
			<td>
				<InputText @bind-Value="@SkidSteerLoader.DriveType" />
				<ValidationMessage For="@(() => SkidSteerLoader.DriveType)" />
			</td>
		</tr>

		<tr>
			<td>Regulačný hydrogenerátor pohonu</td>
			<td>
				<InputText @bind-Value="@SkidSteerLoader.DriveControlHydrogenerator" />
				<ValidationMessage For="@(() => SkidSteerLoader.DriveControlHydrogenerator)" />
			</td>
		</tr>

		<tr>
			<td>Hydromotor pojazdu</td>
			<td>
				<InputText @bind-Value="@SkidSteerLoader.VehicleHydraulicMotor" />
				<ValidationMessage For="@(() => SkidSteerLoader.VehicleHydraulicMotor)" />
			</td>
		</tr>

		<tr>
			<td>Hydraulika pojazdu- pracovný tlak (MPa)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.VehicleHydraulicMotorOperatingPressureMpa" />
				<ValidationMessage For="@(() => SkidSteerLoader.VehicleHydraulicMotorOperatingPressureMpa)" />
			</td>
		</tr>

		<tr>
			<td>Druh ovládania</td>
			<td>
				<InputText @bind-Value="@SkidSteerLoader.ControlType" />
				<ValidationMessage For="@(() => SkidSteerLoader.ControlType)" />
			</td>
		</tr>

		<tr>
			<td>Pracovný tlak ovládania (Mpa)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.OperatingControlPressureMpa" />
				<ValidationMessage For="@(() => SkidSteerLoader.OperatingControlPressureMpa)" />
			</td>
		</tr>

		<tr>
			<td>Riadenie</td>
			<td>
				<InputText @bind-Value="@SkidSteerLoader.Control" />
				<ValidationMessage For="@(() => SkidSteerLoader.Control)" />
			</td>
		</tr>

		<tr>
			<td>Hydrogenerátor pracovného zariadenia</td>
			<td>
				<InputText @bind-Value="@SkidSteerLoader.WorkEquipmentHydrogenerator" />
				<ValidationMessage For="@(() => SkidSteerLoader.WorkEquipmentHydrogenerator)" />
			</td>
		</tr>

		<tr>
			<td>Rozvádzač pracovného zariadenia</td>
			<td>
				<InputText @bind-Value="@SkidSteerLoader.WorkEquipmentSwitchboard" />
				<ValidationMessage For="@(() => SkidSteerLoader.WorkEquipmentSwitchboard)" />
			</td>
		</tr>

		<tr>
			<td>Pracovný tlak (MPa)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.OperatingPressureMpa" />
				<ValidationMessage For="@(() => SkidSteerLoader.OperatingPressureMpa)" />
			</td>
		</tr>

		<tr>
			<td>Prietok pracovnej hydrauliky (l/min)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.OperatingHydraulicFlowLpm" />
				<ValidationMessage For="@(() => SkidSteerLoader.OperatingHydraulicFlowLpm)" />
			</td>
		</tr>

		<tr>
			<td>Vyrovnávanie lopaty</td>
			<td>
				<InputText @bind-Value="@SkidSteerLoader.BucketLeveling" />
				<ValidationMessage For="@(() => SkidSteerLoader.BucketLeveling)" />
			</td>
		</tr>

		<tr>
			<td>Výsledná hlučnosť akustického výkonu (dB)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.AcousticNoisePowerDb" />
				<ValidationMessage For="@(() => SkidSteerLoader.AcousticNoisePowerDb)" />
			</td>
		</tr>

		<tr>
			<td>Pneumatiky štandardné- od</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.StandardTiresMin" />
				<ValidationMessage For="@(() => SkidSteerLoader.StandardTiresMin)" />
			</td>
		</tr>

		<tr>
			<td>Pneumatiky štandardné- do</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.StandardTiresMax" />
				<ValidationMessage For="@(() => SkidSteerLoader.StandardTiresMax)" />
			</td>
		</tr>

		<tr>
			<td>Elektrická inštalácia (V)</td>
			<td>
				<InputNumber @bind-Value="@SkidSteerLoader.ElectricalInstallationV" />
				<ValidationMessage For="@(() => SkidSteerLoader.ElectricalInstallationV)" />
			</td>
		</tr>
	</ExcavatorSpecificInfoFields>
</ExcavatorForm>

@code {
	[Parameter]
	public string ExcavatorBrand { get; set; } = null!;

	private SkidSteerLoader SkidSteerLoader { get; set; } = new();
	
	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		SkidSteerLoader.Brand = ExcavatorBrand;
		SkidSteerLoader.Category = "šmykom riadené nakladače";
	}
}
