@page "/admin/novy-stroj/pasove-nakladace/{ExcavatorBrand}"

@inject IServISApi api

<h3>Pásové nakladače- vytvorenie nového záznamu</h3>

<ExcavatorForm ExcavatorCategory=TrackedLoader
			   Excavator=@TrackedLoader
			   LinkToGoAfterValidSubmit=@($"/pasove-nakladace-{ExcavatorBrand.ToLower()}") >
	<ExcavatorSpecificInfoFields>
		<tr>
			<td>Pracovná hmotnosť (kg)</td>
			<td>
				<InputNumber @bind-Value="@TrackedLoader.OperatingWeightKg" />
				<ValidationMessage For="@(() => TrackedLoader.OperatingWeightKg)" />
			</td>
		</tr>

		<tr>
			<td>Preklápacie zaťaženie (kg)</td>
			<td>
				<InputNumber @bind-Value="@TrackedLoader.TiltingLoadKg" />
				<ValidationMessage For="@(() => TrackedLoader.TiltingLoadKg)" />
			</td>
		</tr>

		<tr>
			<td>Prevádzková nosnosť ISO 14397 (kg)</td>
			<td>
				<InputNumber @bind-Value="@TrackedLoader.OperatingLoadCapacityIso14397Kg" />
				<ValidationMessage For="@(() => TrackedLoader.OperatingLoadCapacityIso14397Kg)" />
			</td>
		</tr>

		<tr>
			<td>Štandardný objem lopaty (m3)</td>
			<td>
				<InputNumber @bind-Value="@TrackedLoader.StandardBucketVolumeM3" />
				<ValidationMessage For="@(() => TrackedLoader.StandardBucketVolumeM3)" />
			</td>
		</tr>

		<tr>
			<td>Motor</td>
			<td>
				<InputText @bind-Value="@TrackedLoader.Engine" />
				<ValidationMessage For="@(() => TrackedLoader.Engine)" />
			</td>
		</tr>

		<tr>
			<td>Maximálny výkon (kW)</td>
			<td>
				<InputNumber @bind-Value="@TrackedLoader.MaximumPowerKw" />
				<ValidationMessage For="@(() => TrackedLoader.MaximumPowerKw)" />
			</td>
		</tr>

		<tr>
			<td>Šírka pásov (mm)</td>
			<td>
				<InputNumber @bind-Value="@TrackedLoader.TrackWidthMm" />
				<ValidationMessage For="@(() => TrackedLoader.TrackWidthMm)" />
			</td>
		</tr>

		<tr>
			<td>Trakčná sila (kN)</td>
			<td>
				<InputNumber @bind-Value="@TrackedLoader.TractionForceKn" />
				<ValidationMessage For="@(() => TrackedLoader.TractionForceKn)" />
			</td>
		</tr>

		<tr>
			<td>Prietok hydrauliky- štandard (l/min)</td>
			<td>
				<InputNumber @bind-Value="@TrackedLoader.HydraulicFlowLpm" />
				<ValidationMessage For="@(() => TrackedLoader.HydraulicFlowLpm)" />
			</td>
		</tr>

		<tr>
			<td>Prietok hydrauliky - Hi-flow (l/min)</td>
			<td>
				<InputNumber @bind-Value="@TrackedLoader.HydraulicFlowHiFlowLpm" />
				<ValidationMessage For="@(() => TrackedLoader.HydraulicFlowHiFlowLpm)" />
			</td>
		</tr>

		<tr>
			<td>Maximálny prevádzkový tlak (bar)</td>
			<td>
				<InputNumber @bind-Value="@TrackedLoader.MaximumOperatingPressureBar" />
				<ValidationMessage For="@(() => TrackedLoader.MaximumOperatingPressureBar)" />
			</td>
		</tr>
	</ExcavatorSpecificInfoFields>
</ExcavatorForm>

@code {
	[Parameter]
	public string ExcavatorBrand { get; set; } = null!;

	private TrackedLoader TrackedLoader { get; set; } = new();

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		TrackedLoader.Brand = ExcavatorBrand;
		TrackedLoader.Category = "pásové nakladače";
	}
}
