@using MailKit;

@if (newestThreadMessage is null)
{
	<p>Načítava sa...</p>
}
else
{
	<div class="thread-row @(isRead ? "seen" : "")">
		<input type="checkbox" checked="@IsChecked" @onchange="OnCheckUncheck" />
		<div class="cols" @onclick="OnClick">
			<div class="from @(isRead ? "" : "bold")">@FromName</div>
			<div class="preview-text">
				<span class="subject @(isRead ? "" : "bold")">@newestThreadMessage.Subject</span>-@newestThreadMessage.Text
			</div>
			<div class="date @(isRead ? "" : "bold")">@shortDate</div>
		</div>
	</div>
}

@code {
	private bool isRead;
	private Email newestThreadMessage = null!;
	private string shortDate = null!;

	[Parameter]
	public Thread Thread { get; set; } = null!;

	[Parameter]
	public bool IsChecked { get; set; }

	[Parameter]
	public EmailManager EmailManager { get; set; } = null!;

	[Parameter]
	public EventCallback OnClick { get; set; }

	[Parameter]
	public EventCallback OnCheckUncheck { get; set; }

	private string FromName => newestThreadMessage.FromAddress == EmailManager.EmailAddress
									? newestThreadMessage.ReplyToName
									: newestThreadMessage.FromName;

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		isRead = Thread.IsRead;

		newestThreadMessage = Thread.Messages.Last();

		shortDate = newestThreadMessage.DateTime.ToLocalTime().ToShortDateString();
	}
}
