@using MailKit;

@if (newestThreadMessage is null)
{
	<p>Načítava sa...</p>
}
else
{
	<div class="thread-row @(isRead ? "seen" : "")">
		<input type="checkbox" checked="@IsChecked" @onchange="OnCheckUncheck" />
		<div class="cols" @onclick="OnClick">
			<div class="from @(isRead ? "" : "bold")">@newestThreadMessage.Envelope.From.Mailboxes.First().Name</div>
			<div class="preview-text">
				<span class="subject @(isRead ? "" : "bold")">@newestThreadMessage.NormalizedSubject</span>-@newestThreadMessage.PreviewText
			</div>
			<div class="date @(isRead ? "" : "bold")">@newestThreadMessage.Date.LocalDateTime.ToShortDateString()</div>
		</div>
	</div>
}

@code {
	private bool isRead;
	private IMessageSummary newestThreadMessage = null!;

	[Parameter]
	public Thread Thread { get; set; } = null!;

	[Parameter]
	public bool IsChecked { get; set; }

	[Parameter]
	public EmailManager EmailManager { get; set; } = null!;

	[Parameter]
	public EventCallback OnClick { get; set; }

	[Parameter]
	public EventCallback OnCheckUncheck { get; set; }

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		isRead = Thread.IsRead;
		newestThreadMessage = Thread.Messages.Last();
	}
}
