<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(App).Assembly">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<NotAuthorized>
					Nie ste prihlásený.
				</NotAuthorized>
			</AuthorizeRouteView>
			<FocusOnNavigate RouteData="@routeData" Selector="h1" />
		</Found>
		<NotFound>
			<PageTitle>Stránka nenájdená</PageTitle>
			<LayoutView Layout="@typeof(MainLayout)">
				<p role="alert">Na tejto stránke nič nie je.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>
