@page "/stroj/{ExcavatorId:int}"

@inject ILogger<ExcavatorDetail> logger
@inject IServISApi api
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navMan
@using ServISWebApp.Auth;

@if (excavatorExists && Excavator is not null)
{
	<div class="container">
		<div class="row img-and-desc-container">
			<div class="col img-container">
				<div class="img">
					<PhotoSlider Images="GetImages()" />
				</div>
			</div>

			<div class="col desc">
				<h4>@Excavator.Name</h4>

				<p>@Excavator.Description</p>

				@if (!isAdmin)
				{
					<button @onclick="ToggleForm">Dopyt</button>
				}
			</div>
		</div>

		<br />

		@if (!isAdmin)
		{
			<div class="row">
				<div class="col">
					<DemandForm @ref="demandForm" DemandedItemName="@Excavator.Name" />
				</div>
			</div>
		}

		<div class="row">
			<div class="col">
				<p>Vlastnosti stroja:</p>
				<table class="table">
					<tbody>
						@foreach (var property in Excavator.Properties)
						{
							<tr>
								<td>@property.PropertyType.Name</td>
								<td>@property.Value</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

		<AuthorizeView Roles="Administrator">
			<button class="btn btn-secondary" @onclick="GoToExcavatorEditPage">Uprav</button>
		</AuthorizeView>
	</div>
}
else if (!excavatorExists)
{
	<p>Tento stroj neexistuje.</p>
}

@code {
	private bool isAdmin;
	private bool excavatorExists = true;
	private DemandForm demandForm = null!;

	[CascadingParameter]
	public Task<AuthenticationState> AuthenticationStateAsync { get; set; } = null!;

	[Parameter]
	public int ExcavatorId { get; set; }

	private Excavator Excavator { get; set; } = null!;

	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		await SetExcavatorAsync();

		await CheckIfLoggedInAsAdminAsync();
	}

	public void ToggleForm()
	{
		demandForm.ToggleForm();
	}

	private List<byte[]> GetImages() => Excavator.Photos.Select(p => p.Photo).ToList();

	private void GoToExcavatorEditPage()
	{
		navMan.NavigateTo($"/admin/uprava-stroja/{Excavator.Id}");
	}

	private async Task SetExcavatorAsync()
	{
		try
		{
			Excavator = await api.GetExcavatorAsync(ExcavatorId);
		}
		catch (Exception ex)
		{
			logger.LogError(ex, $"Excavator with id '{ExcavatorId}' was not found.");
			excavatorExists = false;
		}
	}

	private async Task CheckIfLoggedInAsAdminAsync()
	{
		var authState = await AuthenticationStateAsync;

		var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;

		isAdmin = await customAuthStateProvider.CheckIfLoggedInAsAdminAsync(authState);
	}
}