@inject IServISApi api
@using ServISWebApp.CssProviders

@if (isAdditionalEquipmentInitialized)
{
	<EditForm Model="AdditionalEquipment" OnValidSubmit="SaveAdditionalEquipmentAsync" class="form-space-items">
		<ObjectGraphDataAnnotationsValidator />
		<CustomCssClassProvider ProviderType="BootstrapFieldCssClassProvider" />

		<div class="form-group">
			<InputItemPhotos PhotoType="AdditionalEquipmentPhoto"
							 @bind-Photos="AdditionalEquipment.Photos"
							 CreatePhoto="@((dataBytes) => 
								new AdditionalEquipmentPhoto { Photo = dataBytes, AdditionalEquipment = AdditionalEquipment })"
							 DeletePhotoAsync="@(async (photo) => await DeleteAdditionalEquipmentPhotoAsync(photo))"
							 IsRequired="@(AdditionalEquipment.Id == 0)" />
		</div>

		<br />

		<div class="form-group">
			<label for="excavator-category">Pre akú kategóriu strojov:</label>
			<ItemsSelector ItemType="ExcavatorCategory"
					   @bind-SelectedItem="AdditionalEquipment.ExcavatorCategory"
					   Items="AllExcavatorCategories"
					   Context="excavatorCategory"
					   id="excavator-category">
				<OptionText>@excavatorCategory.Category</OptionText>
			</ItemsSelector>
		</div>

		<div class="form-group">
			<label for="additional-equipment-category">Kategória:</label>
			<ItemsSelector ItemType="AdditionalEquipmentCategory"
					   @bind-SelectedItem="AdditionalEquipment.Category"
					   Items="AllAdditionalEquipmentCategories"
					   Context="additionalEquipmentCategory"
					   id="additional-equipment-category">
				<OptionText>@additionalEquipmentCategory.Category</OptionText>
			</ItemsSelector>
		</div>

		<div class="form-group">
			<label for="additional-equipment-brand">Značka:</label>
			<ItemsSelector ItemType="AdditionalEquipmentBrand"
						   @bind-SelectedItem="AdditionalEquipment.Brand"
						   Items="AllAdditionalEquipmentBrands"
						   Context="additionalEquipmentBrand"
						   id="additional-equipment-brand">
				<OptionText>@additionalEquipmentBrand.Brand</OptionText>
			</ItemsSelector>
		</div>

		<div class="form-group">
			<label for="name">Názov:</label>
			<InputText @bind-Value="@AdditionalEquipment.Name" id="name" />
			<ValidationMessage For="@(() => AdditionalEquipment.Name)" />
		</div>

		<div class="form-group">
			<label for="description">Popis:</label>
			<InputTextArea @bind-Value="@AdditionalEquipment.Description" id="description" />
			<ValidationMessage For="@(() => AdditionalEquipment.Description)" />
		</div>

		<div>
			<SubmitButton Text="Uložiť" />
			<button class="btn btn-secondary" type="reset" @onclick="async () => await ResetAsync()">Reset</button>
		</div>
	</EditForm>
}

@code {
	private bool isAdditionalEquipmentInitialized;

	[Parameter]
	public AdditionalEquipment AdditionalEquipment { get; set; } = null!;

	[Parameter]
	public EventCallback<AdditionalEquipment> AdditionalEquipmentChanged { get; set; }

	[Parameter]
	public EventCallback AfterValidSubmit { get; set; }

	private List<ExcavatorCategory> AllExcavatorCategories { get; set; } = null!;

	private List<AdditionalEquipmentCategory> AllAdditionalEquipmentCategories { get; set; } = null!;

	private List<AdditionalEquipmentBrand> AllAdditionalEquipmentBrands { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		AllExcavatorCategories = await api.GetExcavatorCategoriesAsync();
		AllAdditionalEquipmentCategories = await api.GetAdditionalEquipmentCategoriesAsync();
		AllAdditionalEquipmentBrands = await api.GetAdditionalEquipmentBrandsAsync();
	}

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		if (AdditionalEquipment == null)
		{
			throw new Exception($"Parameter '{nameof(AdditionalEquipment)}' not provided.");
		}

		if (AdditionalEquipment.Id == 0)
		{
			InitAdditionalEquipment(AdditionalEquipment);
		}
		isAdditionalEquipmentInitialized = true;
	}

	private static void InitAdditionalEquipment(AdditionalEquipment additionalEquipment)
	{
		additionalEquipment.Photos ??= new List<AdditionalEquipmentPhoto>();
		additionalEquipment.Brand ??= new();
		additionalEquipment.Category ??= new();
		additionalEquipment.ExcavatorCategory ??= new();
	}

	private async Task ResetAsync()
	{
		AdditionalEquipment = new();
		InitAdditionalEquipment(AdditionalEquipment);

		await AdditionalEquipmentChanged.InvokeAsync(AdditionalEquipment);
	}

	private async Task SaveAdditionalEquipmentAsync()
	{
		if (AdditionalEquipment.Photos.Count == 0)
		{
			throw new Exception("No additional equipment photos provided.");
		}
		AdditionalEquipment.Photos[0].IsTitle = true;

		try
		{
			await api.SaveAdditionalEquipmentAsync(AdditionalEquipment);
		}
		catch
		{
			throw new Exception($"Failed to save additional equipment with id '{AdditionalEquipment.Id}'.");
		}

		if (AfterValidSubmit.HasDelegate)
		{
			await AfterValidSubmit.InvokeAsync();
		}

		await ResetAsync();
	}

	private async Task DeleteAdditionalEquipmentPhotoAsync(AdditionalEquipmentPhoto additionalEquipmentPhoto)
	{
		if (AdditionalEquipment.Photos.Count > 1)
		{
			if (additionalEquipmentPhoto.Id != 0)
			{
				await api.DeleteAdditionalEquipmentPhotoAsync(additionalEquipmentPhoto);
			}

			AdditionalEquipment.Photos.Remove(additionalEquipmentPhoto);

			StateHasChanged();
		}
	}
}
