@inject IServISApi api
@inject IJSRuntime js
@inject NavigationManager navMan
@using ServISData
@using ServISWebApp.CssProviders;
@using System.Collections
@using System.Text

@if (Excavator != null)
{
	<EditForm Model="Excavator" OnValidSubmit="HandleValidSubmit">
		<ObjectGraphDataAnnotationsValidator />
		<CustomCssClassProvider ProviderType="BootstrapFieldCssClassProvider" />

		<InputItemPhotos PhotoType="ExcavatorPhoto"
						 @bind-Photos="Excavator.Photos"
						 CreatePhoto="@((dataBytes) => 
							new ExcavatorPhoto { Photo = dataBytes, Excavator = Excavator })"
						 DeletePhotoAsync="@(async (photo) => await DeletePhotoAsync(photo))"
						 IsRequired="@(Excavator.Id == 0)" />

		<br />

		<label>Názov:</label>
		<InputText @bind-Value="@Excavator.Name" />
		<ValidationMessage For="@(() => Excavator.Name)" />

		<label>Popis:</label>
		<InputTextArea @bind-Value="@Excavator.Description" />
		<ValidationMessage For="@(() => Excavator.Description)" />

		<label>Je IBA pre aukciu:</label>
		<input type="checkbox"
		   checked="@Excavator.IsForAuctionOnly"
		   @bind-value="@Excavator.IsForAuctionOnly" />
		@*<InputCheckbox @bind-Value="@TrackedExcavator.IsForAuctionOnly" class="form-check-input"/>*@
		<ValidationMessage For="@(() => Excavator.IsForAuctionOnly)" />

		<br />

		<label>Náhradné diely:</label>
		<table class="table">
			<thead>
				<tr>
					<th>Katalógové číslo</th>
					<th>Názov</th>
					<th>Pridať</th>
				</tr>
			</thead>
			<tbody>
				@if (AllSpareParts != null && AllSparePartsChecked != null && AllSpareParts.Count == AllSparePartsChecked.Count)
				{
					@for (int i = 0; i < AllSpareParts.Count; i++)
					{
						// otherwise would i be a reference;
						// for more see: https://stackoverflow.com/questions/64982700/how-to-use-the-array-of-checkbox-in-asp-net-core-razor
						var iCopy = i;
						<tr>
							<td>@AllSpareParts[iCopy].CatalogNumber</td>
							<td>@AllSpareParts[iCopy].Name</td>
							@*<td><InputCheckbox @bind-Value="@SparePartsChecked[i]" /></td>*@
							<td>
								<input type="checkbox"
									   checked="@AllSparePartsChecked[iCopy]"
									   @bind-value="@AllSparePartsChecked[iCopy]" />
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

		<br />

		<ExcavatorTypeSelector @bind-ExcavatorType="Excavator.Type" OnSelect="UpdateExcavatorProperties" />

		<br />

		<h6>Špecifické vlastnosti:</h6>
		@if (Excavator.Properties.Count == 0)
		{
			<p>Tento typ stroja nemá žiadne vlastnosti</p>
		}
		else
		{
			<table>
				<thead>
					<tr>
						<th>Názov vlastnosti</th>
						<th>Hodnota</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var property in Excavator.Properties)
					{
						var propertyType = property.PropertyType;
						var propertyInputType = propertyType.InputType;
						<tr>
							<td><label>@propertyType.Name</label></td>

							@switch (propertyInputType)
							{
								case InputType.Date:
									@*<td><InputDate TValue="string" @bind-Value="property.Value" /></td>*@
									<td><input type="datetime" @bind-value="property.Value" /></td>
									break;
								case InputType.Number:
									@*<td><InputNumber TValue="string" @bind-Value="property.Value" /></td>*@
									<td><input type="number" @bind-value="property.Value" /></td>
									break;
								case InputType.Text:
									<td><InputText @bind-Value="property.Value" /></td>
									break;
								case InputType.TextArea:
									<td><InputTextArea @bind-Value="property.Value" /></td>
									break;
								case InputType.Unset:
									throw new Exception("Excavator property input type is unset.");
								default:
									throw new Exception("Unknown excavator property input type.");
							}
						</tr>
					}
				</tbody>
			</table>
		}

		<button class="btn btn-success" type="submit">Uložiť</button>
	</EditForm>
}

@code {
	[Parameter]
	public Excavator Excavator { get; set; } = null!;

	private List<ExcavatorProperty> ExcavatorProperties { get; set; } = null!;
	// bool is in pair with spare part, it will tell us if spare part is checked
	private List<SparePart> AllSpareParts { get; set; } = null!;
	private List<bool> AllSparePartsChecked { get; set; } = null!;

	protected override void OnInitialized()
	{
		base.OnInitialized();

		if (Excavator == null)
		{
			throw new Exception($"Parameter '{nameof(Excavator)}' not provided.");
		}
	}

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		AllSpareParts = await api.GetSparePartsAsync();
		AllSparePartsChecked = new bool[AllSpareParts.Count].ToList();
	}

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		if (AllSpareParts != null)
		{
			var excavatorsSparePartsIds = Excavator.SpareParts.Select(sp => sp.Id);
			for (int i = 0; i < AllSpareParts.Count; i++)
			{
				bool excavatorHasSparePart = excavatorsSparePartsIds.Contains(AllSpareParts[i].Id);
				AllSparePartsChecked[i] = excavatorHasSparePart;
			}
		}
	}

	private List<SparePart> GetCheckedSpareParts()
	{
		var checkedSpareParts = new List<SparePart>();

		for (var i = 0; i < AllSparePartsChecked.Count; i++)
		{
			if (AllSparePartsChecked[i])
			{
				checkedSpareParts.Add(AllSpareParts[i]);
			}
		}

		return checkedSpareParts;
	}

	private async Task HandleValidSubmit()
	{
		if (Excavator.Photos.Count == 0)
		{
			throw new Exception("No excavator photos provided.");
		}
		Excavator.Photos[0].IsTitle = true; // the first uploaded image is the title photo

		Excavator.SpareParts = GetCheckedSpareParts();

		await api.SaveExcavatorAsync(Excavator);
		try
		{
		}
		catch { /* TODO */ }

		navMan.NavigateTo($"/typ-stroja/{Excavator.Type.Id}");
	}

	private async Task DeletePhotoAsync(ExcavatorPhoto excavatorPhoto)
	{
		if (Excavator.Photos.Count > 1)
		{
			if (excavatorPhoto.Id != 0)
			{
				excavatorPhoto.Excavator = null!;
				await api.DeleteExcavatorPhotoAsync(excavatorPhoto);
			}

			Excavator.Photos.Remove(excavatorPhoto);

			StateHasChanged();
		}
	}

	private void UpdateExcavatorProperties()
	{
		Excavator.Properties.Clear();
		foreach (var propertyType in Excavator.Type.PropertyTypes)
		{
			Excavator.Properties.Add(new ExcavatorProperty
				{
					PropertyType = propertyType,
				});
		}
	}
}
