@implements IDisposable
@inherits FormBase<MainOffer>
@inject IJSRuntime js
@inject ILogger<MainOfferForm> logger
@inject IServISApi api
@using ServISWebApp.CssProviders
@using ServISData.Interfaces

@if (initComplete)
{
	<EditForm EditContext="@editContext" OnValidSubmit="SaveItemAsync" class="form-space-items">
		<ObjectGraphDataAnnotationsValidator />
		<CustomCssClassProvider ProviderType="BootstrapFieldCssClassProvider" />

		<div class="form-group">
			<InputFile OnChange="HandleInputFileChangeAsync" />
			<div>
				Nahraná fotka:<br />

				@if (Item.Photo == null)
				{
					<p>Nie je nahraná žiadná fotka.</p>
				}
				else
				{
					<img src="@FileTools.GetDataUrlBase64String(Item.Photo, "image/jpeg")" width="280" />
				}
			</div>
			<ValidationMessage For="@(() => Item.Photo)" />
		</div>

		<div class="form-group">
			<label for="excavator-type">Typy bagrov:</label>
			<ItemsSelector ItemType="ExcavatorType" 
						   @bind-SelectedItem="Item.ExcavatorType"
						   Items="@ExcavatorTypes"
						   Context="excavatorType"
						   id="excavator-type">
				<OptionText>@excavatorType.Category.Category (@excavatorType.Brand.Brand)</OptionText>
			</ItemsSelector>
			<ValidationMessage For="@(() => Item.ExcavatorType)" />
		</div>

		<div class="form-group">
			<label for="description">Popis:</label>
			<InputTextArea @bind-Value="Item.Description" id="description" />
			<ValidationMessage For="@(() => Item.Description)" />
		</div>

		<div>
			<SubmitButton Text="Uložiť" />
			<button class="btn btn-secondary" type="reset" @onclick="ResetAsync">Reset</button>
		</div>
	</EditForm>
}

@code {
	private bool initComplete = false;
	private EditContext editContext = null!;
	private ValidationMessageStore messageStore = null!;

	private List<ExcavatorType> ExcavatorTypes { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		ExcavatorTypes = await api.GetExcavatorTypesAsync();
	}

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		if (Item == null)
		{
			throw new Exception($"Parameter '{nameof(Item)}' not provided.");
		}

		if (Item.Id == 0)
		{
			InitMainOffer(Item);
		}

		InitEditContext();
		initComplete = true;
	}

	public override async Task ResetAsync()
	{
		Item = new MainOffer();
		InitMainOffer(Item);

		if (ItemChanged.HasDelegate)
		{
			await ItemChanged.InvokeAsync(Item);
		}

		InitEditContext();
	}

	public override async Task SaveItemAsync()
	{
		var customValidationPassed = DoCustomValidation();
		if (!customValidationPassed)
		{
			return;
		}

		try
		{
			await api.SaveMainOfferAsync(Item);
		}
		catch (Exception ex)
		{
			logger.LogError(ex, $"Failed to save main offer with id '{Item.Id}'.");
		}

		if (OnSave.HasDelegate)
		{
			await OnSave.InvokeAsync();
		}

		if (AfterSaveAsync != null)
		{
			await AfterSaveAsync();
		}

		await ResetAsync();
	}

	public void Dispose()
	{
		if (editContext is not null)
		{
			editContext.OnValidationRequested -= HandleValidationRequested;
		}
	}

	private async Task HandleInputFileChangeAsync(InputFileChangeEventArgs e)
	{
		var uploadedFile = e.File;

		if (!uploadedFile.IsValidImageFile(out string? errorMessage))
		{
			await js.InvokeVoidAsync("alert", errorMessage);
			return;
		}

		Item.Photo = await uploadedFile.GetDataBytesAsync(); ;

		StateHasChanged();
	}

	private static void InitMainOffer(MainOffer mainOffer)
	{
		mainOffer.ExcavatorType ??= new();
	}

	private bool IsExcavatorTypeSelected() => Item.ExcavatorType.Id != 0;

	private void HandleValidationRequested(object? sender, ValidationRequestedEventArgs args)
	{
		messageStore.Clear();

		if (!IsExcavatorTypeSelected())
		{
			messageStore.Add(() => Item.ExcavatorType, $"Nie je vybraný žiaden typ bagra.");
		}
	}

	private void InitEditContext()
	{
		editContext = new EditContext(Item);
		editContext.OnValidationRequested += HandleValidationRequested;
		messageStore = new ValidationMessageStore(editContext);
	}

	/// <summary>
	/// Performs custom validation.
	/// </summary>
	/// <returns><c>true</c> if validation was performed successfully; <c>false</c> otherwise</returns>
	private bool DoCustomValidation()
	{
		if (!IsExcavatorTypeSelected())
		{
			return false;
		}

		return true;
	}
}
