@page "/admin/novy-stroj/pasove-bagre/{ExcavatorBrand}"

@inject IBServisApi api

<h3>Pásové bagre- vytvorenie nového záznamu</h3>

<ExcavatorForm ExcavatorCategory=TrackedExcavator
			   Excavator=@TrackedExcavator
			   SaveExcavatorAsync=@(async (trackedExcavator) => await api.SaveTrackedExcavatorAsync(trackedExcavator))>
	<ExcavatorSpecificInfoFields>
		<tr>
			<td>Pracovná hmotnosť (kg)</td>
			<td>
				<InputNumber @bind-Value="@TrackedExcavator.OperatingWeightKg" />
				<ValidationMessage For="@(() => TrackedExcavator.OperatingWeightKg)" />
			</td>
		</tr>

		<tr>
			<td>Hĺbka výkopu (mm)</td>
			<td>
				<InputNumber @bind-Value="@TrackedExcavator.ExcavationDepthMm" />
				<ValidationMessage For="@(() => TrackedExcavator.ExcavationDepthMm)" />
			</td>
		</tr>

		<tr>
			<td>Maximálna šírka (mm)</td>
			<td>
				<InputNumber @bind-Value="@TrackedExcavator.MaximumWidthMm" />
				<ValidationMessage For="@(() => TrackedExcavator.MaximumWidthMm)" />
			</td>
		</tr>

		<tr>
			<td>Motor</td>
			<td>
				<InputText @bind-Value="@TrackedExcavator.Engine" />
				<ValidationMessage For="@(() => TrackedExcavator.Engine)" />
			</td>
		</tr>

		<tr>
			<td>Maximálny výkon (kw)</td>
			<td>
				<InputNumber @bind-Value="@TrackedExcavator.MaximumPowerKw" />
				<ValidationMessage For="@(() => TrackedExcavator.MaximumPowerKw)" />
			</td>
		</tr>

		<tr>
			<td>Trhacia sila (kg)</td>
			<td>
				<InputNumber @bind-Value="@TrackedExcavator.TearingStrengthKg" />
				<ValidationMessage For="@(() => TrackedExcavator.TearingStrengthKg)" />
			</td>
		</tr>

		<tr>
			<td>Sila vniknutia (kg)</td>
			<td>
				<InputNumber @bind-Value="@TrackedExcavator.PenetrationForceKg" />
				<ValidationMessage For="@(() => TrackedExcavator.PenetrationForceKg)" />
			</td>
		</tr>

		<tr>
			<td>Prietok hydrauliky (l/min)</td>
			<td>
				<InputNumber @bind-Value="@TrackedExcavator.HydraulicFlowLpm" />
				<ValidationMessage For="@(() => TrackedExcavator.HydraulicFlowLpm)" />
			</td>
		</tr>

		<tr>
			<td>Pracovný tlak (bar)</td>
			<td>
				<InputNumber @bind-Value="@TrackedExcavator.OperatingPressureBar" />
				<ValidationMessage For="@(() => TrackedExcavator.OperatingPressureBar)" />
			</td>
		</tr>
	</ExcavatorSpecificInfoFields>
</ExcavatorForm>

@code {
	[Parameter]
	public string ExcavatorBrand { get; set; } = null!;

	private TrackedExcavator TrackedExcavator { get; set; } = new();

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		TrackedExcavator.Brand = ExcavatorBrand;
		TrackedExcavator.Category = "pásové bagre";
		Console.WriteLine("Som v CreateTrackedExcavavtor a hodnota je: " + TrackedExcavator.Brand);
	}
}
